{% extends 'base.html.twig' %}

{% block title %}Idées{% endblock %}


{% block body %}
    <div class="main--ideas">
        <div class="main--ideas_titles">
            <h1>Idées</h1>
            <h2>Nombre d'idées : {{ count }}</h2>
        </div>
        <div class="grid_container">
            {% for idea in ideas %}
                <div class="grid_item">
                    <div class="grid_item--flex">
                        <div class="grid_item--text">
                            <h3>{{ idea.title }}</h3>
                        </div>
                        <div class="grid_item--likes">

                            {% if app.user and idea.isLikedByUser(app.user) %}
                                <div class="like-fill"></div>
                                <p class="js-likes">{{ idea.users | length }}</p>
                                 <a href="{{ path('idea_dislike', {'id': idea.id}) }}">
                                     <div class="dislike-hover"></div>
                                </a>
                                <p class="js-likes">{{ idea.dislike | length }}</p>
                            {% else %}
                                <a href="{{ path('idea_like', {'id': idea.id})}}" class="js-like">
                                    <div class="like-hover"></div>
                                </a>
                                <p class="js-likes">{{ idea.users | length }}</p>
                                <a href="{{ path('idea_dislike', {'id': idea.id}) }}">
                                    <div class="dislike-hover"></div>
                                </a>
                                <p class="js-likes">{{ idea.dislike | length }}</p>
                            {% endif %}

{#                            <div class="vote">#}
{#                                <div class="vote-bar">#}
{#                                    <div class="vote-progress"></div>#}
{#                                </div>#}
{#                                <div class="vote-btns">#}
{#                                    <button class="btn-vote vote-like">#}
{#                                        <i class="material-icons">thumb_up</i>#}
{#                                        <i class="material-icons">thumb_up_off_alt</i>#}
{#                                        0#}
{#                                    </button>#}
{#                                    <button class="btn-vote vote-dislike">#}
{#                                        <i class="material-icons">thumb_down</i>#}
{#                                        <i class="material-icons">thumb_down_off_alt</i>#}
{#                                        0#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}


                        </div>
                    </div>
                    <p>{{ idea.description }}</p>
                    <p><u>auteur :</u> {{ idea.author.pseudo }}</p>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock body %}

{#{% block javascripts %}#}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#    <script src="{{ asset('script/script.js') }}"></script>#}
{#{% endblock javascripts %}#}