{% extends 'base.html.twig' %}

{% block title %}Edit Idea{% endblock %}

{% block body %}
    <div class="main--ideas_edit">
        <h1>Edit Idea</h1>

        <div class="main--ideas_main">
            {{ form_start(form) }}
                {{ form_rest(form) }}
            <div class="main--ideas_buttons">
                <button type="submit">
                    <img src="{{ asset('images/checked.png') }}" alt="checked" onmouseover="this.src='{{ asset('images/checked-fill.png') }}'" onmouseout="this.src='{{ asset('images/checked.png') }}'"/>
                </button>
                {{ include('idea/_delete_form.html.twig') }}
            </div>
            {{ form_end(form) }}

            <div class="main--ideas_return btn-blue">
                <a href="{{ path('my_ideas') }}">Retour</a>
            </div>


        </div>
    </div>
{% endblock %}
