{% extends 'base.html.twig' %}

{% block title %}Idea index{% endblock %}

{% block body %}

    <div class="main--ideas_my-ideas">
        <h1>Mes Idées</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for idea in ideas %}
                <tr>
                    <td>{{ idea.title }}</td>
                    <td>{{ idea.description }}</td>
                    <td>
                        <a href="{{ path('idea_show', {'id': idea.id}) }}">Afficher</a>
                        <a href="{{ path('idea_edit', {'id': idea.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">aucune idée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="main--ideas_return two">
            <div class="btn-blue two">
                <a href="{{ path('idea_index') }}">Retour</a>
            </div>
            <div class="btn-blue two">
                <img src="{{ asset('images/plus-fill.png') }}" alt="plus" height="20px">
                <a href="{{ path('idea_new') }}">Ajouter une idée</a>
            </div>
        </div>
    </div>
{% endblock %}
