{% extends 'base.html.twig' %}

{% block title %}Nouvelle Idée{% endblock %}

{% block body %}
    <div class="main--ideas_new">
        <h1>Ajouter une nouvelle idée</h1>
        <div class="main--ideas_main">
            {{ form_start(form) }}
                {{ form_row(form.title, { 'label': 'Titre' }) }}
                {{ form_row(form.description, { 'label': 'Description' }) }}
                {{ form_row(form.author, { 'label': 'Auteur' }) }}
                <div class="centered">
                    <button type="submit" class="btn-blue">Ajouter</button>
                </div>
            {{ form_end(form) }}

            <div class="main--ideas_return btn-blue">
                <a href="{{ path('my_ideas') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
