{% extends 'base.html.twig' %}

{% block title %}Nouvelle Idée{% endblock %}

{% block body %}
    <div class="main--ideas_new">
        <h1>Ajouter une nouvelle idée</h1>
        <div class="main--ideas_main">
            {{ form_start(form) }}
                {{ form_row(form.title, { 'label': 'Titre' }) }}
                {{ form_row(form.description, { 'label': 'Description' }) }}
                {{ form_row(form.author, { 'label': 'Auteur' }) }}
                <div class="main--ideas_return two">
                    <button class="btn-blue two">
                        <a href="{{ path('my_ideas') }}">Retour</a>
                    </button>
                    <button class="btn-blue two" type="submit">
                        Ajouter
                    </button>
                </div>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
