{% extends 'base.html.twig' %}

{% block title %}Idea{% endblock %}

{% block body %}
    <div class="main--ideas_show">
        <h1>Idea</h1>
        <div class="main--ideas_main">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Titre</th>
                        <td>{{ idea.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ idea.description }}</td>
                    </tr>
                    <tr>
                        <th>Auteur</th>
                        <td>{{ idea.author }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="main--ideas_buttons">
                <button>
                    <a href="{{ path('idea_edit', {'id': idea.id}) }}">
                        <img src="{{ asset('images/edit.png') }}" alt="edit" onmouseover="this.src='{{ asset('images/edit-fill.png') }}'" onmouseout="this.src='{{ asset('images/edit.png') }}'"/>
                    </a>
                </button>
                {{ include('idea/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="main--ideas_return btn-blue">
            <a href="{{ path('my_ideas') }}">Retour</a>
        </div>

    </div>

{% endblock %}
